/*==========================================
    inventor
==========================================*/
.footer {
    background: #000050;
    .footer-top {
        padding: 100px 0 84px;
        .about-area {
            img {
                margin-bottom: 21px;
                width: 230px;
            }
            p {
                color: $white;
                font-size: 16px;
                line-height: 30px;
            }
        }
        .useful-link {
            h3 {
                color: $white;
                font-weight: 600;
                font-size: 22px;
                display: inline-block;
                // border-bottom: 2px solid #0088ff;
                padding-bottom: 15px;
                margin-bottom: 27px;
                margin-top: -6px;
                position: relative;
                &:after {
                    position: absolute;
                    content: '';
                    left: 0;
                    top: 100%;
                    width: 50%;
                    height: 2px;
                    background: #0088ff;
                }
            }
            ul {
                li {
                    a {
                        color: $white;
                        display: inline-block;
                        padding-bottom: 9px;
                        span {
                            display: inline-block;
                            color: $base-color-2;
                            margin-right: 7px;
                        }
                    }
                }
            }
        }
        .secure-area {
            h3 {
                color: $white;
                font-weight: 600;
                font-size: 22px;
                display: inline-block;
                // border-bottom: 2px solid #0088ff;
                padding-bottom: 15px;
                margin-bottom: 32px;
                margin-top: -6px;
                position: relative;
                &:after {
                    position: absolute;
                    content: '';
                    left: 0;
                    top: 100%;
                    width: 50%;
                    height: 2px;
                    background: #0088ff;
                }
            }
            .logo {
                .row {
                    margin: 0 -10px;
                }
                .col-logo {
                    padding: 0 10px;
                }
                .single-logo {
                    img {
                        width: 100%;
                        filter: invert(1) brightness(100);
                        padding: 10px;
                        border: 1px solid;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
    .footer-bottom {
        border-top: 1px solid rgba($base-color-2,.3);
        .copyright {
            p {
                color: $white;
                font-size: 16px;
                margin: 0;
            }
        }
        .social {
            text-align: right;
            padding: 30px 0;
            a {
                display: inline-block;
                border: 1px solid $base-color-2;
                width: 30px;
                height: 30px;
                text-align: center;
                color: $base-color-2;
                line-height: 30px;
                text-decoration: none;
                font-size: 14px;
                border-radius: 50%;
                margin-right: 5px;
                @include transition($transition);
                &:last-child {
                    margin-right: 0;
                }
                &:hover {
                    background: $white;
                    border-color: $white;
                }
            }
        }
    }
}