/*==========================================
    transaction
==========================================*/
.transaction {
    padding: 120px 0;
    .single-transaction {
        &.second {
            .table-title {
                background: $base-color;
            }
            .table {
                tbody {
                    border-bottom: 1px solid $base-color;
                }
            }
        }
        .table-title {
            text-align: center;
            background: $base-color-2;
            padding: 19px 0 20px;
            h3 {
                font-size: 24px;
                color: $white;
                font-weight: 700;
                margin: 0;
            }
        }
        .parent-table {
            .table {
                margin: 0;
                tbody {
                    border-left: 1px solid rgba(#000,.2);
                    border-right: 1px solid rgba(#000,.2);
                    border-bottom: 1px solid rgba(#000,.2);
                    tr {
                        &:nth-child(2), &:nth-child(4), &:nth-child(6), &:nth-child(8), &:nth-child(10) {
                            background: #f0f8ff;
                        }
                        th, td {
                            color: #666666;
                            font-weight: 400;
                            border: none;    
                            padding: 18px 0 18px 20px;
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
}